.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    color: #721c24;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 100;
  }
  
  .Alert-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 2rem;
    max-height: 4rem;
    line-height: 1;
    opacity: 0.5;
  }
  
  .Alert-dismiss:hover {
    opacity: 1;
  }